<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menù con tabs | Html - Css</title>
    <link rel="stylesheet" href="../css/admin.css">
    
    
</head>
<body>
    <a href="../index.html" class="cerrar">Cerrar Sesión</a>
     
       
    <div class="container" >
        <div class="lbl-menu" >
            <label for="radio1">Comprar</label>
            <label for="radio2">Ver Actores</label>
            <label for="radio3">Ver Categorias</label>
            
        </div>
        
        <div class="content">
           
            <input type="radio" name="radio" id="radio1" checked>
            <div class="tab1" id="lienzo2" >
                <h2>MovieCats</h2>             
                <br>
                <table style="border-collapse: collapse" bordercolor="#111111" width="900" id="tblpeliculas" >
                  <tr>

                      <th>Foto</th>
                      <th>TItulo de la Pelicula</th>
                      <th>Descripción</th>
                      <th>Información</th>
                      <th>Alquilar</th>
                      <th>Precio</th>

                  </tr>                  
      
              </table>          
                <br>                                  
            </div>

            
            <input type="radio" name="radio" id="radio2">
          

            <div class="tab2" id="lienzo1">
                <h2>Ver Actores</h2>                
                <script src="//d3js.org/d3.v5.min.js"></script>
                <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
                <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
                <script type="text/javascript" src="../js/arbol_avl.js"></script>                
                <br>
            </div>               


            <input type="radio" name="radio" id="radio3">
            <div class="tab3" id="lienzo4">
                <h2>Ver Categorias</h2>                
                <script src="//d3js.org/d3.v5.min.js"></script>
                <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
                <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
                <script type="text/javascript" src="../js/arbol_binario.js"></script> 
                  
            </div>
            
        </div>
    </div>
</body>
</html>

