<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menù con tabs | Html - Css</title>
    <link rel="stylesheet" href="../css/admin.css">
    
    
</head>
<body>
    <a href="../index.html" class="cerrar">Cerrar Sesión</a>
    <a href="../templates/alquilar.html" class="cerrar">Alquiladas</a>
     
       
    <div class="container" >
        <div class="lbl-menu" >
            <label for="radio1">Comprar</label>
            <label for="radio2">Ver Actores</label>
            <label for="radio3">Ver Categorias</label>
            
        </div>
        
        <div class="content">
           
            <input type="radio" name="radio" id="radio1" checked>
            <div class="tab1" id="lienzo2" >
                <h2>MovieCats</h2>             
                <br>
                <p>
                    <input type="radio" name="status1" value="Ascendente" id="Ascendente"> <label for="Ascendente">Ascendente</label> 
                    <br>
                    <input type="radio" name="status1" value="Descendente" id="Descendente"> <label for="Descendente">Descendente</label> 
                    
                </p>
                <button id="mostrar1">Enviar</button>

                <table style="border-collapse: collapse" bordercolor="#111111" width="900" id="tblpeliculas" >
                  <tr>

                      <th>Foto</th>
                      <th>TItulo de la Pelicula</th>
                      <th>Descripción</th>
                      <th>Información</th>
                      <th>Alquilar</th>
                      <th>Precio</th>

                  </tr>                  
      
              </table>          
                <br>   
                <script type="text/javascript" src="../js/arbol_avl.js"></script>  

            </div>

            
            <input type="radio" name="radio" id="radio2">
          

            <div class="tab2" id="lienzo1">
                <h2>Ver Actores</h2> 
                <br>
                <p>
                    <input type="radio" name="status" value="In orden" id="In orden"> <label for="In orden">In orden</label> 
                    <br>
                    <input type="radio" name="status" value="Pre orden" id="Pre Orden"> <label for="Pre Orden">Pre Orden</label> 
                    <br>
                    <input type="radio" name="status" value="Post orden" id="Post orden"> <label for="no_interesado">Post orden</label> 
                </p>
                <button id="mostrar">Enviar</button>

                <table style="border-collapse: collapse" bordercolor="#111111" width="900" id="tblactores" >
                  <tr>
                      <th>Nombre Actor</th>
                      <th>Descripción</th>                      
                  </tr>                  
      
              </table>          
                <br>   
                <script type="text/javascript" src="../js/arbol_binario.js"></script>                
                <br>
            </div>               


            <input type="radio" name="radio" id="radio3">
            <div class="tab3" id="lienzo4">
                <h2>Ver Categorias</h2>         
                
                <table style="border-collapse: collapse" bordercolor="#111111" width="900" id="tblcategorias" >
                    <tr>
                        <th>Fila de Tabla</th>
                        <th>Id Categorias</th>
                        <th>Compania</th>                      
                    </tr>                  
        
                </table>
                <script type="text/javascript" src="../js/tabla_hash.js"></script> 
                  
            </div>
            
        </div>
    </div>
</body>
</html>

